##### Use this page as the 404 document
ErrorDocument 404 /index.php

##### Disallow Directory Listings
DirectoryIndex /index.php

##### Turn on mod_rewrite to capture the shortname from a url and pass it on as a url parameter
RewriteEngine On

##### for when Sahana is installed on a virtual host at root level ie. http://domain.com/
RewriteBase /

##### for when Sahana is installed in a user homedir ie. http://domain.gov/~gmiernicki/sahanaDev/www/
#RewriteBase /~gmiernicki/sahanaDev/www/

##### make mod_rewrite skip the subsequent 3 rules if the file or folder exists already
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [S=6]

##### handle the about page via php
RewriteRule ^(about|ABOUT)$ index.php?mod=rez&act=default&page_id=-30 [L]

##### handle the about page via php
RewriteRule ^(plus|PLUS)$ index.php?mod=rez&act=default&page_id=-45 [L]

##### handle the login page via php
RewriteRule ^(login|LOGIN)$ index.php?mod=pref&act=loginForm [L]

##### matches /shortname
RewriteRule ^([^/][a-z0-9]+)$ index.php?shortname=$1

##### matches /shortname/
RewriteRule ^([^/][a-z0-9]+)/$ index.php?shortname=$1

##### matches /shortname/index.php?vars=params
RewriteRule ^([^/][a-z0-9]+)/(.+)$ $2?shortname=$1 [QSA]
