<h3>Report Generation</h3>

<table border=0>
<form method="post" action="{SELF}">
<tr>
    <td colspan="4">Select a persons attribute to see statistics</td>    
</tr>
<tr><td>
      {ATTR_LIST}
    </td>
    <td>
      {FILTER_LIST}
    </td>
    <td>
      {GRAPH_TYPE}
    </td>
    <td>
       {UNKNOWN_CHK}
    </td>
</tr>
<tr><td  colspan="4"><input type="submit" value="Generate"></td></tr>
<tr><td  colspan="4">&nbsp;</td></tr>
</form>
</table>
<table border=0 cellpadding=0 cellspacing=0>
<tr>
  <td>{PIE_GRAPH}</td><td>&nbsp;</td><td valign="top">{STAT_TABLE}</td>
</tr>  
</table>