
body {
	background-color: #ffffff;
}

h2 {
	text-align: center;
}

hr {
	width: 98%;
}

table.entry {
	width: 95%;
	padding: 2;
	border: 0;
}

td {
	padding: 3;
	margin: 1;
	background-color: #ddddff;
}

