
body {
	background-color: #ffffff;
}

h2 {
	text-align: center;
}

hr {
	width: 95%;
}

table.entry {
	width: 95%;
	padding: 0;
	margin: 0;
	border: 0;
}

td {
	padding: 4;
	margin: 1;
	background-color: #ddddff;
}

