// Copyright 2004 - 2007 The Uniform Server Development Team
// UniController Application, Starts and Stop server components.
// version 1.1

#include <windows.h>
#include "unicontrollerres.h"
/* --- The following code comes from K:\lcc\lib\wizard\default.rc. */
IDMAINMENU MENU
BEGIN
	POPUP "&Commands"
	BEGIN
		//MENUITEM "&Configure",IDM_CONFIG
		MENUITEM "&Server Start",IDM_START
		MENUITEM "&Server S&top",IDM_STOP
		MENUITEM "&E&xit",IDM_EXIT
	END
	POPUP "&WWW"
	BEGIN
		MENUITEM "&Uniform Server > Home", IDM_HOME //Look
		MENUITEM "&Uniform Server > Forum", IDM_FORUM //Look
		MENUITEM "&Uniform Server > Wiki", IDM_WIKI //Look
		MENUITEM "&Uniform Server > UniCenter", IDM_UNICENTER //Look
		MENUITEM "&Uniform Server > Bug Report", IDM_BUG //Look
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About",IDM_ABOUT
	END
END
IDACCEL ACCELERATORS
BEGIN
	"Q",	IDM_EXIT,VIRTKEY,CONTROL
END
/* --- The following code comes from K:\lcc\lib\wizard\menustr.tpl. */
// This tables contains the explanation strings to be shown in the status
// bar when the uses moves the mouse in an open menu.
// Organization:
// For each popup menu, there is the identifier of the popup itself, followed
// by the strings for all items in that menu. The ID of each string is its
// command #define.
//
STRINGTABLE DISCARDABLE
BEGIN
	IDM_START			"Start Uniform Server"
	IDM_STOP			"Stop Uniform Server"
  	//IDM_CONFIG		"Configure Uniform Server settings"
    	//IDS_FILEMENU        	"Create, open, save, or print documents"
    	//IDM_NEW             	"Creates a new document"
    	//IDM_OPEN            	"Opens an existing document"
    	//IDM_SAVE            	"Saves the active document"
    	//IDM_SAVEAS          	"Saves the active document under a different name"
    	//IDM_CLOSE           	"Closes the active document"
END

STRINGTABLE DISCARDABLE
BEGIN
    	IDM_EXIT                "Quits this application"
END

STRINGTABLE DISCARDABLE
BEGIN
    	IDS_HELPMENU            "Get help"
	IDM_UNICENTER		"Visit online resource center"
    	IDM_ABOUT               "Displays information about this application"
END
/* --- The following code comes from K:\lcc\lib\wizard\aboutdlgrc.tpl. */
IDD_ABOUT DIALOG 6, 18, 180, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "UniController is a small application used to control core Uniform Server systems."
FONT 8, "MS Sans Serif"
BEGIN
    	DEFPUSHBUTTON   		"Close", IDOK, 129, 156, 40, 14
END
