/* 
Sahana Mobile Stylesheet
----------------------------------------------------------------------------------- */

a {
	color : #039;
	text-decoration : underline;
}
a:hover {
	color : #c00;
	text-decoration : none;
	background-color : #ffc;
}

body {
	max-width : 320px;
	background-color : #eee;
	margin : 0;
	padding : 0;
	font-family :Arial, Helvetica, sans-serif;
	font-size : 10px; 
	line-height : 140%;
}
/*
#header {
	background-color : #369;
	text-align : center;
	border-bottom:#036 5px solid;
}*/
#header h1 {
	background-color : #369;
	text-align : center;
	border-bottom:#036 5px solid;
	clear : both;
	font-size : 11px;
	margin : 1px 0;
	padding : 3px 5px;
	color : #fff;
}

#language form{
	margin-left:60%;
	width:40%;
	margin-bottom:0px;
	margin-bottom:0px;
}
#language select{			
	color:#fff;
	border: 1px solid #369;
	border-style:none;
	background:#369;
}
#language label{

}

#skip {
	margin : 1px 0;
	padding : 3px 5px;
	text-align : center;
}

#modmenuwrap h2 {
	margin : 1px 0;
	font-size : 1.1em;
	padding : 4px 2px;
	border-top : 1px solid #9a9a9a;
	background-color : #418200;
	color : #fff;
}
#modmenuwrap a{
	color:#418200;
	text-decoration:underline;
}


#menuwrap h2 {
	font-size : 1.1em;
	padding : 4px 2px;
	background-color : #369;
	color : #fff;
}
#menuwrap ul{
	list-style:none;
	display:inline;
	text-align:center;
}


#loginform {
	width : 200px;
	float:none;
}
#loginform fieldset {
	padding : 10px;
	border : 1px solid #036;
}
#loginform legend {
	padding:3px;
	font-size : 120%;
}
#loginform input#userName, #loginform input#pswd {
	width : 180px;
	height : 20px;
	font-size : 12px;
}



#content{
	background-color:#fff;
}
#content h1, h2 {
           clear : both;
           font-size : 11px;
           margin : 1px 0;
           padding : 3px 5px;
           background : #369;
           color : #fff;
      }

#formset input[type="text"] {
           height : 20px;
           width : 100%;
           font-size : 10px;
           max-width : 350px;
      }
     #formset textArea {
           width : 100%;
           max-width : 350px;
           font-size : 10px;
      }
     #formset label {
           height : 20px;
           font-size : 10px;
           max-width : 350px;
      }
     #formset select {
           margin-left : 30%;
           height : 20px;
           width : 70%;
           font-size : 10px;
           max-width : 300px;
      }

#result table {
	background-color:#fff;
	border-style:dotted;
	border-width:1px;
	border-color:#369;
	margin-bottom:5px;
}
#result td {
	border-style:dotted;
	border-width:1px;
	margin:0px;
	border-color:#369;
}

#error {
	margin : 0 0 10px;
	padding : 5px 10px 5px 35px;
	border : 1px solid #fc6;
}
#error p {
	margin : 0;
}
#error ul {
	margin : auto;
	margin-bottom : 0.5em;
	list-style : disc;
}
#error p em {
	color : #c00;
	font-style : normal;
	font-weight : bold;
}

#footer{
background-color:#369;
border-top: #036 5px solid;
height:1.2em;
}
#footer a{
	display:none;
}



