/* 
Sahana Stylesheet 
-----------------------------------------------------------------------------------

Structure
---------

0.) Generic Styles
1.) Container
2.) Header (=header)
3.) Wrapper (=wrapper)
4.) Content (=content)
5.) Nav (=nav)
6.) Footer (=footer)

Selectors are listed in their order of appearance in the html, where applicable.
---------------------------------------------------------------------------------- */

/* Neutralize styling: 
   Elements we want to clean out entirely: */
html, body, form, fieldset {
        margin: 0;
        padding: 0;
        font: 90%/125% Arial, Helvetica, sans-serif;
}

/* Neutralize styling: 
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
        margin: 0 0 1em 0;
        padding: 0;
}

/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {
        margin-left: 1em;
}

/* Clear floats without structural markup */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

/* Miscellaneous conveniences: */
body {
	color: #000;
	background: #FFF;
}

form label {
        cursor: pointer;
}

fieldset {
        border: none;
}

input, select, textarea {
        font-size: 100%;
}

.hide {
	display: none;
}

.mini {
	font-size: 80%;
}

/* Links should ALWAYS be unvisited */
a {
	color: #039;
	text-decoration: underline;
}

a:hover {
	color: #C00;
	text-decoration: none;
	background-color: #FFC;
}

/* Now to layout elements... */

#container {
}

#header {
	border-bottom: #996 5px solid;
	padding: 0 1em;
	background-color: #666;
}

#header h1 {
	margin-top: 0;
	padding-top: 1em;
	color: #FFF;
	text-transform: uppercase;
}

#wrapper {
}

#content {
	margin: 0 0 0 200px;
	padding: 1em;
}

#navigation {
	padding: 0 10px 10px 10px;
	float: left;
	width: 180px;
	background-color: #FFE;
}

#navigation h2 {
	margin: 1em 0 0.5em 0;
	padding: 0 0 0.25em 0;
	font-size: 120%;
	color: #996;
	text-transform: uppercase;
	border-bottom: #996 1px solid;
}

#navigation dt {
	font-weight: bold;
}

#footer {
	margin: 0;
	padding: 10px;
	clear: both;
	color: #FFF;
	background-color: #666;
	border-top: #996 5px solid;
}

