<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <servlet>
    <servlet-name>accesspermissionservlet</servlet-name>
    <servlet-class>tccsol.admin.accessControl.AccessPermissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changepasswordservlet</servlet-name>
    <servlet-class>tccsol.admin.accessControl.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listservlet</servlet-name>
    <servlet-class>tccsol.util.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listsingleservlet</servlet-name>
    <servlet-class>tccsol.util.ListSingleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>tccsol.admin.accessControl.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rolesservlet</servlet-name>
    <servlet-class>tccsol.admin.accessControl.RolesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setaccesspermissionservlet</servlet-name>
    <servlet-class>tccsol.admin.accessControl.SetAccessPermissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersservlet</servlet-name>
    <servlet-class>tccsol.admin.accessControl.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accesspermissionservlet</servlet-name>
    <url-pattern>/accesspermissionservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changepasswordservlet</servlet-name>
    <url-pattern>/changepasswordservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listservlet</servlet-name>
    <url-pattern>/listservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listsingleservlet</servlet-name>
    <url-pattern>/listsingleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rolesservlet</servlet-name>
    <url-pattern>/rolesservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setaccesspermissionservlet</servlet-name>
    <url-pattern>/setaccesspermissionservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersservlet</servlet-name>
    <url-pattern>/usersservlet</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
    <welcome-file>/admin/accessControl/Login1.jsp</welcome-file>
 </welcome-file-list>

</web-app>
