AddType application/x-httpd-php .php .xml
ErrorDocument 404 index.php
DirectoryIndex index.php
RewriteEngine On
RewriteBase /public_html/vesuvius_installer/vesuvius/www/
RewriteCond %{REQUEST_FILENAME} -d [OR] RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [S=38]
RewriteRule ^(person.[0-9]+)$ ?mod=eap&val=$1 [L]
RewriteRule ^(about)$   ?mod=rez&page=-30 [L]
RewriteRule ^(privacy)$ ?mod=rez&page=44  [L]
RewriteRule ^(login)$              ?mod=pref&act=loginForm [L]
RewriteRule ^(auth)$               ?doLogin=1 [L]
RewriteRule ^(password)$           ?mod=pref&act=ch_passwd [L]
RewriteRule ^(logout)$             ?act=logout [L]
RewriteRule ^(register)$           ?mod=pref&act=signup [L]
RewriteRule ^(register2)$          ?mod=pref&act=signup2 [L]
RewriteRule ^(forgot)$             ?mod=pref&act=forgotPassword [L]
RewriteRule ^(tracking)$           ?mod=pref&act=tracking [L]
RewriteRule ^(reza|resourceadmin)$ ?mod=rez&act=adm_default [L]
RewriteRule ^(admin|administration)$           $2?mod=admin [QSA]
RewriteRule ^(arrive|arrivals)$           $2?mod=arrive [QSA]
RewriteRule ^(eap|eap)$           $2?mod=edit [QSA]
RewriteRule ^(em|events|eventmanager)$           $2?mod=em [QSA]
RewriteRule ^(eq|expiry|expiryqueue)$           $2?mod=eq [QSA]
RewriteRule ^(ha|hospitals|hospitaladmin)$           $2?mod=ha [QSA]
RewriteRule ^(home)$           $2?mod=home [QSA]
RewriteRule ^(int|internal|internalresources)$           $2?mod=int [QSA]
RewriteRule ^(ha|hospitals|hospitaladmin)$           $2?mod=ha [QSA]
RewriteRule ^(inw|search)$           $2?mod=inw [QSA]
RewriteRule ^(mpres|inbound)$           $2?mod=mpres [QSA]
RewriteRule ^(pfif|importandexport)$           $2?mod=pfif [QSA]
RewriteRule ^(plus|webservices)$           $2?mod=plus [QSA]
RewriteRule ^(pop|outbound)$           $2?mod=pop [QSA]
RewriteRule ^(rap)$           $2?mod=rap [QSA]
RewriteRule ^(report)$           $2?mod=report [QSA]
RewriteRule ^(rez|resources)$           $2?mod=rez [QSA]
RewriteRule ^(sepl|searchplus)$           $2?mod=sepl [QSA]
RewriteRule ^(snap|snapshot)$           $2?mod=snap [QSA]
RewriteRule ^(stat|statistics)$           $2?mod=stat [QSA]
RewriteRule ^(tp|triagepic)$           $2?mod=tp [QSA]
RewriteRule ^(settings|pref)$           $2?mod=pref [QSA]
RewriteRule ^(xst|xmlstreamer)$           $2?mod=xst [QSA]
RewriteRule ^([^/][a-z0-9]+)$ $2?shortname=$1 [QSA]
RewriteRule ^([^/][a-z0-9]+)/$ $2?shortname=$1 [QSA]
RewriteRule ^([^/][a-z0-9]+)/(.+)$ $2?shortname=$1 [QSA]
