ul.menu ul{display:none; z-index:-1}
ul.menu li:hover>ul{display:block}
/* ul.menu ul{
  position: absolute;
 left:-1px;
  top:22px;
}*/
ul.menu ul ul{position: absolute;left:99%;top:0px;}
ul.menu,ul.menu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	background-color:#f7f7f7;
	background-repeat:repeat;
}
ul.menu ul {
	border-color:#dadada;
	border-width:1px;
	border-style:solid;
}
ul.menu table {border-collapse:collapse}
ul.menu {
	display:block;
	zoom:1;
	float: left;
        -moz-border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        margin: 5px 0px;
}
ul.menu ul{
	width:161px;
}
ul.menu li{
	display:block;
/*	margin:2px 0px 0px 2px;*/
	font-size:0px;
}
ul.menu a:active, ul.menu a:focus {
outline-style:none;
}
ul.menu a, ul.menu li.dis a:hover, ul.menu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#f7f7f7;
	border-width:0px;
	border-color:#dadada;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	_padding-left:0;
	font:bold 12px helvetica, arial, verdana;
	color: #848484;
	text-decoration:none;
	cursor:default;
}
ul.menu>li>a {
  padding: 5px 4px;
/*  position: relative;*/
}
/*ul.menu>li>a:hover {
  
}*/
ul.menu>li>a:hover, ul.menu>li:hover>a {
  border: solid 1px #dadada;
  border-bottom-color: #f7f7f7 !important;
/*  border-top-color: #dadada;
  border-right-color: #dadada;
  border-left-color: #dadada;*/
  padding: 4px 3px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  color: #ff8f00;
  text-shadow: 0px 0px 5px #ffc479;
  text-decoration:none;

}
ul.menu>li>ul>li:hover>a {
    border: solid 1px #dadada;
   border-right-color: #f7f7f7 !important;
  /*border-top-color: #dadada;
  border-right-color: #dadada;
  border-left-color: #dadada;
  padding: 4px 3px;*/
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  color: #ff8f00;
  text-shadow: 0px 0px 5px #ffc479;
  text-decoration:none;
   
}
ul.menu li.dis a:hover, ul.menu li.sep a:hover {
  padding:4px;
}
ul.menu span{
	overflow:hidden;
}
ul.menu li {
	float:left;
}
ul.menu ul li {
	float:none;
}
ul.menu ul a {
	text-align:left;
	white-space:nowrap;
}
ul.menu li.sep{
	text-align:center;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.menu li.sep span{
	float:none;
        padding-right:0;
	width:5px;
	height:16px;
	display:inline-block;
	background-color:#AAAAAA;
        background-image:none;}
ul.menu ul li.sep span{
	width:80%;
	height:3px;
}
ul.menu li:hover{
	position:relative;
}
ul.menu li:hover>a{
	/*background-color:#adadad; /*4792E6*/

	border-style:solid;
	font:bold 12px helvetica, arial, verdana;
	text-decoration:none;
}
ul.menu li a:hover{
	position:relative;
	/*background-color:#adadad; /*4792E6*/
	 

	font:bold 12px helvetica, arial, verdana;
	color: #ff8f00;
        text-shadow: 0px 0px 5px #ffc479;
	text-decoration:none;
}
ul.menu li.dis a {
	color: #AAAAAA !important;
}
ul.menu img {border: none;float:left;_float:none;margin-right:4px;width:16px;
height:16px;
}
ul.menu ul img {width:16px;
height:16px;
}
ul.menu img.over{display:none}
ul.menu li.dis a:hover img.over{display:none !important}
ul.menu li.dis a:hover img.def {display:inline !important}
ul.menu li:hover > a img.def  {display:none}
ul.menu li:hover > a img.over {display:inline}
ul.menu a:hover img.over,ul.menu a:hover ul img.def,ul.menu a:hover a:hover ul img.def,ul.menu a:hover a:hover a:hover ul img.def,ul.menu a:hover a:hover img.over,ul.menu a:hover a:hover a:hover img.over,ul.menu a:hover a:hover a:hover a:hover img.over{display:inline}
ul.menu a:hover img.def,ul.menu a:hover ul img.over,ul.menu a:hover a:hover ul img.over,ul.menu a:hover a:hover a:hover ul img.over,ul.menu a:hover a:hover img.def,ul.menu a:hover a:hover a:hover img.def,ul.menu a:hover a:hover a:hover a:hover img.def{display:none}
ul.menu a:hover ul,ul.menu a:hover a:hover ul,ul.menu a:hover a:hover a:hover ul{display:block}
ul.menu a:hover ul ul,ul.menu a:hover a:hover ul ul{display:none}
/*ul.menu span{
	display:block;
	background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arrv_anim_1.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:11px;}
ul.menu li:hover>a>span{	background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arrv_anim_1o.gif);
}
ul.menu a:hover span{	_background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arrv_anim_1o.gif)}
ul.menu ul span,ul.menu a:hover table span{background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arr_double_1.gif)}
ul.menu ul li:hover > a span{	background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arr_double_1o.gif);}
ul.menu table a:hover span,ul.menu table a:hover a:hover span,ul.menu table a:hover a:hover a:hover span{background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arr_double_1o.gif)}
ul.menu table a:hover table span,ul.menu table a:hover a:hover table span{background-image:url(http://purecssmenu.com/ssc-data/templates/clear-1/images/arr_double_1.gif)}*/

ul.menu li.menu1.first a{
    -moz-border-radius: 0px 0px 0px 15px;
    -webkit-border-radius: 0px 0px 0px 15px;
}
ul.menu li.menu1.last a{
    -moz-border-radius: 0px 0px 15px 0px;
    -webkit-border-radius: 0px 0px 15px 0px;

}

li.menu1{
    z-index:20;
}

/**/ ul.menu li.menu1 ul.menu_level_1{
   position:absolute; top: 22px !important;
}

ul.menu_level_2{
    z-index: -3 !important;
}


ul.menu li ul.menu_level_1 li.menu2 a:hover {
  border: solid 1px #dadada;
  border-right-color: #f7f7f7 !important;
  /*border-top-color: #dadada;
  border-right-color: #dadada;
  border-left-color: #dadada;
  padding: 4px 3px;*/
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  color: #ff8f00;
  text-shadow: 0px 0px 5px #ffc479;
  text-decoration:none;

}

 



ul.menu li ul.menu_level_1 li.menu2, ul.menu li ul.menu_level_1 li.menu2 ul.menu_level_2 li.menu3{
    padding: 0px 0px 0px 3px;
 
}



ul.menu_level_1 li.menu2:hover, ul.menu_level_1 li.menu2 a:hover {
    z-index: 22;
}

li.menu2.first{
    margin-top:5px;
}


li.menu3 a:hover{
    border:0px !important;
}

ul.menu_level_1 li.menu2 a{
        border: solid 1px #f7f7f7; padding-left: 4px; position: relative;
}
ul.menu_level_1 li.menu2 a:hover{
        border: solid 1px #dadada; padding-left: 4px;
}

ul.menu_level_1 li.menu2 ul.menu_level_2 li.menu3 a{
        border: solid 1px #f7f7f7 !important; padding-left: 4px;
}
ul.menu_level_1 li.menu2 ul.menu_level_2 li.menu3 a:hover{
        border: solid 1px #f7f7f7 !important; padding-left: 4px;
}

li.noBorder>a:hover {
  border: 1px solid #f7f7f7 !important;
}