<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- Report an error using a JSP page -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>

<!--  <security-constraint>-->
<!--    <display-name>Sahana Server Assistance Constraint</display-name>-->
<!--    <web-resource-collection>-->
<!--      <web-resource-name>Protected Area</web-resource-name>-->
<!--      <url-pattern>/index.jsp</url-pattern>-->
<!--    </web-resource-collection>-->
<!--    <auth-constraint>-->
<!--      <role-name>sahanaSpecialAdmin</role-name>-->
<!--    </auth-constraint>-->
<!--  </security-constraint>-->
<!---->
<!--  <login-config>-->
<!--    <auth-method>BASIC</auth-method>-->
<!--    <realm-name>Sahana Experimental Area</realm-name>-->
<!--  </login-config>-->

</web-app>