
body {
	padding: 0px;
	margin: 5px 5px 5px 5px;
	font-family: Trebuchet MS, sans-serif;
	font-size: smaller;
	background: #fff;
}

a:link, a:visited {
	text-decoration: none;
	color: #103C62;
	border-bottom: 1px dashed #103C62;
} 

a:hover {
	color: #2894F2;
	border-bottom: 1px solid #2894F2;
}

a.banner { border-bottom: 0px; }

#container {
	position: relative;
	border: 1px solid #336699;
}

#header {
	padding: 5px 5px 0px 5px;
	background: #103052;
}

#header-desc {
	font-size: 150%;
	font-family: Georgia, serif;
	font-weight: bold;
	padding: 10px;
	color: #fff;
}

#nav table {
	font-weight: bold;
	color: #000;
	text-align: right;
	margin-top: -30px;
	width: 100%;
}

	#mainlevel-nav {
		float: right;
		background: transparent;
		line-height: normal;
	}

	#mainlevel-nav ul {
		margin: 0px;
		padding-top: 0px;
		list-style: none;
	}
	#mainlevel-nav li {
		float:left;
		margin: 0px;
		font-size: 93%;
		padding: 0px;
	}

	#mainlevel-nav a {
		display:block;
		padding: 0px 20px 0px;
		color: #000;
		text-decoration: none;
		border-bottom: 0px;
	}

	#mainlevel-nav a:hover {
		color: #509DF0;
		border-bottom: 0px;
	}

#content-body {
	position: relative;
	padding: 5px;
}


#middle-content {
	float: left;
	width: 60%;
}

#footer {
	padding: 8px;
	position: relative;
	text-align: center;
}

.spacer { clear: both; }

#user1 { width: 50%; float: left; }

#user2 { width: 50%; float: left; }

#news-wrapper { position: relative; margin: 0px auto 0px auto; }

.contentheading {
	font-family: Georgia, serif;
	font-weight: bold;
	color: #7DB19A;
}

.moduletable h3 {
	color: #99ADA6;
}

.small { font-size: smaller; }

.createdate { color: #b1b1b1; }

#entry-form {
	margin: 0px auto 0px auto;
	width: 650px;
}

#entry-form hr {
	margin-bottom: 20px;
	margin-top: 20px;
	border-top: 1px dashed black;
	border-bottom: 0px;
}

#entry-form input, #entry-form textarea, #entry-form select {
	border: 1px solid #103052;
}

.row1 { width: 250px; }
.row2 { width: 400px; }

#report-wrapper {
	padding: 10px 5px 5px 5px;
	background: #fff;
}

