/* CSS Document */
BODY 
	{
			BACKGROUND: #999999; MARGIN-top: 0px; MARGIN-left: 0px; MARGIN-right: 0px
	}

A:link 
	{
			COLOR: #0066FF; TEXT-DECORATION: none 
	}
	
A:visited 
	{
			COLOR: #0099FF; TEXT-DECORATION: none
	}
	
A:hover 
	{
			COLOR: #000000; TEXT-DECORATION: none
	}
	
TABLE.mainborder
	{
			border: solid 1px #CCCCCC
	}
TABLE.border
	{
			border: solid 1px #EAEAEA; PADDING-top: 6px; PADDING-bottom: 6px; PADDING-right: 6px; PADDING-left: 6px
	}
TD.data
	{
			FONT-SIZE: 8pt; COLOR: #767676; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; PADDING-top: 3px;  PADDING-bottom: 3px; PADDING-right: 6px; PADDING-left: 6px
	}
TD.windowtitle
	{
			FONT-SIZE: 10pt; COLOR: #0099FF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; PADDING-top: 4px; PADDING-bottom: 4px; PADDING-left: 6px; PADDING-right: 6px;background : #F7F7F7
	}
TD.windowtitlebullet
	{
			PADDING-top: 4px; PADDING-bottom: 4px; PADDING-left: 6px; background : #F7F7F7
	}
TD.leftbartitle
	{
			FONT-SIZE: 10pt; COLOR: #FF9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; PADDING-top: 4px; PADDING-bottom: 4px; PADDING-left: 6px; PADDING-right: 6px;BORDER-bottom: dashed 1px #CCCCCC
	}
TD.leftbartitlebullet
	{
			PADDING-top: 4px; PADDING-bottom: 4px; PADDING-left: 6px; BORDER-bottom: dashed 1px #CCCCCC;
	}
TD.leftbartitle2
	{
			FONT-SIZE: 10pt; COLOR: #FF9900; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; PADDING-top: 4px; PADDING-bottom: 4px; PADDING-left: 6px; PADDING-right: 6px;BORDER-bottom: dashed 1px #CCCCCC; BORDER-top: dashed 1px #CCCCCC
	}
TD.leftbartitle2bullet
	{
			PADDING-top: 4px; PADDING-bottom: 4px; PADDING-left: 6px; BORDER-bottom: dashed 1px #CCCCCC; BORDER-top: dashed 1px #CCCCCC
	}
TD.pageseperator
	{
			BORDER-right: solid 1px #CCCCCC; BORDER-left: solid 1px #CCCCCC; BORDER-top: solid 1px #CCCCCC; BORDER-bottom: solid 1px #CCCCCC
	}
INPUT 
	{
			FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10px; BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BACKGROUND-COLOR: #FFFFFF
	}

SELECT 
	{
			FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10px; LINE-HEIGHT: 100%; BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid
	}

FILE 
	{
			FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10px
	}

TEXTAREA 
	{
			FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 10px; LINE-HEIGHT: 100%; BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid
	}