body{ 
	bgcolor="#FFFFFF";
	leftmargin="0";
	topmargin="0";
}

td{ 
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	text-indent: 5pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

table{
	width="100%";
	border="0";
	cellpadding="0";
	cellspacing="0";
}

.textBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.formTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	font-variant: small-caps;
	text-indent: 5pt;
	line-height: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #0033CC;







}
.formText {
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	text-indent: 5pt;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;


}
.formBG {
	background-color: #F0F0F0;
}
.pageBg {
	background-color: #FFFFFF;
}
.buttons {
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
}
.menuBG {
	background-image: url(../images/mainMenuBG.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
	color: #000000;


}
.leftMenuBG {
	background-color: #005C91;
}
.statusBar {
	font-family: tahoma;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #CCCCCC;
	line-height: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;




}
.border {
	background-color: #999999;
}
.loginText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.selectBoxes {
	font-family: Tahoma;
	font-size: 8pt;
	background-color: #FFFFFF;
}
.tableUp {
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	background-color: #D8E9FD;
	text-align: center;
	line-height: 13pt;
	border-top: 1px solid #7BA4E0;
	border-right: 0px none;
	border-bottom: 1px solid #7BA4E0;
	border-left: 0px none;






}
.tableDown {
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	background-color: #F3F9FE;
	text-align: center;
	line-height: 13pt;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;



}

.loginText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #000000;
	font-variant: small-caps;

}
.loginBG {
	background-color: #005495;
}
